@charset "utf-8";


.mfc-container{

}
.mfc-container .mfc-fc-wrap{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    
    border: 1px solid #000;;
}

.mfc-fc-wrap .mfc-fc{
    border-width: 0;
    background-color: transparent;
}
.mfc-fc-wrap .mfc-fc-btn{
    border-width: 0;
    background-color: transparent;
    aspect-ratio: 1/1;
    /* outline: 1px solid #999; */
    width:1.5em;
    cursor: pointer;
    padding:0px;
    display: flex;
}
.mfc-fc-wrap .mfc-fc-btn::before{
    width:1em;height: 1em;line-height: 1em;
    border-radius: 10em;
    background-color: #999;
}
.mfc-fc-wrap .mfc-fc-btn-add::before{
    display: block;
    content: "+";
}
.mfc-fc-wrap .mfc-fc-btn-remove::before{
    display: block;
    content: "-";
}




.mfc-fc-wrap :is(.mfc-fc , .mfc-fc-btn){
    font-size: inherit;
    line-height: 2em;
}